/*------------------HEADER-----------------------*/

header {
    width: 100%;
    height: 80px;

    position: fixed;
    top: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    box-shadow: 0 0 20px rgb(228, 228, 228);
}

.elementos-header {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 22px;
}

.elementos-header ion-icon {
    font-size: 50px;
}

.elementos-header ion-icon:hover {
    cursor: pointer;
}

/*------------------CAIXA-DIGITAÇÃO-----------------------*/

.caixa-de-digitacao {
    width: 100%;
    height: 80px;

    position: fixed;
    bottom: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    box-shadow: 0 0 20px rgb(228, 228, 228);
}

.elementos-caixa-de-digitacao {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 22px;
}

.elementos-caixa-de-digitacao input {
    width: 85%;
    height: 30px;

    border: none;
    outline: none;

    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
}

.elementos-caixa-de-digitacao ion-icon {
    font-size: 35px;
}

/*------------------MENSAGENS-----------------------*/

main {
    background-color: #F3F3F3;
    height: 95vh;
    width: 100%;
}

.caixa-de-mensagens {
    display: flex;
    flex-direction: column;

    padding-top: 100px;
}

.mensagem {
    width: 100%;

    padding: 12px 10px;
    margin-bottom: 5px;

    font-family: "roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.mensagem time {
    font-weight: 400;
    color: rgb(179, 179, 179);

    padding-right: 8px;
}

.mensagem strong {
    font-weight: 800;
}

.mensagem-normal {
    background-color: white;
}

.mensagem-reservada {
    background-color: #FFDEDE;
}

.mensagem-status {
    background-color: #DCDCDC;
}

/*------------------MENU LATERAL--------------------*/

.menu-lateral {
    width: 100%;
    height: 100%;

    position: relative;
}

.fundo-escuro {
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.35);

    position: fixed;
    top: 0px;
    right: 0px;

    display: none;
}

.mostrar-fundo {
    display: flex;
}

.menu {
    width: 260px;
    height: 100%;

    background-color: rgb(255, 255, 255);

    position: fixed;
    top: 0px;
    right: -260px;

    transition: 300ms;

    display: flex;
    flex-direction: column;
}

.mostrar-menu{
    right: 0px;
}

.texto-escolher {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px 16px;

    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
}

.contatos-visibilidade {
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
}

.contatos-visibilidade:hover {
    cursor: pointer;
}

.contatos-visibilidade div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contatos-visibilidade div ion-icon {
    padding-right: 8px;
    padding-bottom: 2px;

    font-size: 23px;
}

.contatos-visibilidade p {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
}

.check-visibilidade {
    color: #28BB25;

    display: none;
}

.check-contato {
    color: #28BB25;

    display: none;
}

.mostrar-check-visibilidade {
    display: flex;
}

.mostrar-check-contato {
    display: flex;
}



/*------------------TELA DE ENTRADA-----------------------*/

.tela-de-entrada {
    width: 100%;
    height: 100%;

    position: fixed;

    top: 0px;
    right: 0px;

    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.esconder-tela-entrada {
    display: none;
}

.tela-de-entrada img {
    height: 110px;

    margin-top: 30px;
}

.input-botao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tela-de-entrada input {
    height: 54px;
    width: 258px;

    border: 1.5px solid #d4d4d4;
    border-radius: 5px;
    outline: none;

    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.tela-de-entrada input::placeholder {
    color: #AEAEAE;
}

.tela-de-entrada .botao {
    height: 45px;
    width: 109px;

    border-radius: 8px;

    background-color: #E7E7E7;

    font-family: "roboto";
    font-size: 18px;
    color: #5a5a5a;
    font-weight: 400;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 200px;
    margin-top: 20px;
}

.botao:hover {
    cursor: pointer;
}